<!DOCTYPE html>
<html lang="ko">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1, maximum-scale=1, shrink-to-fit=no">
   <title>한국한의학연구원</title>
   <meta name="description" content="">
   <meta name="keywords" content="">
   <!-- favicon -->
   <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
   <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
   <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
   <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
   <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
   <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
   <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
   <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
   <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
   <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-icon-192x192.png">
   <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
   <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
   <link rel="manifest" href="/img/favicon/manifest.json">
   <meta name="msapplication-TileColor" content="#ffffff">
   <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
   <meta name="theme-color" content="#ffffff">
   <!-- css -->
   <link rel="stylesheet" href="/css/mixin.css">
   <!-- icon font -->
   <link rel="stylesheet" href="/css/iconFont/XEIcon-2.2.0/xeicon.min.css">
   <!-- plugIn -->
   <script src="/js/libs/jquery/jquery-3.2.1.min.js"></script>
   <!-- slick slide -->
   <link rel="stylesheet" href="/js/libs/slick-1.8.1/slick/slick.css">
   <script src="/js/libs/slick-1.8.1/slick/slick.min.js"></script>
   <!-- js -->
   <script src="/js/layout.js"></script>
   <script src="/js/util.js"></script>
   <style>
      .idCheck {
         border: 1px solid #E4E7EC;
         padding: 1.2rem;
         border-radius: 1rem;
      }
   </style>

</head>
<script th:inline="javascript">

   // 로그아웃
   async function logout(type){
      if(!type) {
         if(!confirm("로그아웃 하시겠습니까?")) return;
      }
      await fetch('/logout', {
         method:'post',
      })
         .then(()=>{location.replace('/login')})
         .catch(e=>console.log(e));
   };

   // 아이디 중복 검사
   function userIdCheck() {

      // 아이디 입력 검증
      if(!validateInput('h_id', '아이디를 입력해주세요.')) {
         return;
      }

      // 아이디 검사
      if(!isId($('input[name=h_id]').val())) {
         alert("아이디는 영문 및 숫자 4~20자로만 가능합니다.");
         return;
      }

      // 아이디 중복된 사용자인지 검증
      var formData = new FormData();
      formData.append("h_id", $('input[name=h_id]').val());

      $.ajax({
         url:"/checkUserId.ajax",
         type:"post",
         data:formData,
         processData : false,
         contentType : false,
         success: function (result) {
            if(result === 1) {
               alert("이미 사용중인 아이디 입니다.");
               $('input[name=h_id]').val('');
               $('input[name=h_id]').focus();
            } else {
               if(confirm("해당 아이디를 사용하시겠습니까?")) {
                  $('#idCheckYn').val('Y');
                  $('input[name=h_id]').attr('readonly', true);
                  $('button[class=idCheck]').attr('disabled', true);
               } else {
                  $('input[name=h_id]').val('');
               }
            }
         },
      });
   }

   // 데이터 입력 검증 로직
   const validateInput = (id, message) => {
      var element = document.getElementById(id);

      if (element.value === "") {
         alert(message);
         element.focus();
         return false;
      }
      return true;
   }

   // 아이디 영문 및 4~20글자까지만 입력 가능한 로직
   function isId(asValue) {
      var regExp = /^[a-z0-9]+[a-z0-9]{3,19}$/i;

      return regExp.test(asValue);
   }

   // 취소 버튼 클릭시 이전 페이지로 이동
   function history_back() {
      history.back();
   }

   // 추가 버튼 클릭
   const signUp = () => {

      // 아이디 입력 검증
      if(!validateInput('h_id', '아이디를 입력해주세요.')) {
         return false;
      }

      if($('#idCheckYn').val() === 'N') {
         alert('아이디 중복 확인해주세요.');
         return;
      }

      // 이메일 입력 검증
      if(!validateInput('email', '이메일을 입력해주세요.')) {
         return false;
      }

      if(document.getElementById('password').value != "") {
         // 비밀번호 정합성 체크 함수(true, false) 반환
         let passwordYn = checkPasswordValidity(document.getElementById('password').value);

         // 비밀번호 정합성 체크
         if(!passwordYn) {
            alert('영문, 숫자, 특수기호를 포함한 8~16자리를 입력해주세요.');
            document.getElementById('password').focus();
            return false;
         }
      }

      // 병원명 입력 검증
      if(!validateInput('h_name', '병원명을 입력해주세요.')) {
         return false;
      }

      // 병원 위치 입력 검증
      if(!validateInput('h_location', '병원 위치를 입력해주세요.')) {
         return false;
      }

      // 담당자 연락처3 입력 검증
      if(!validateInput('h_phone', '담당자 연락처를 입력해주세요.')) {
         return false;
      }

      // 병원 연락처1 입력 검증
      if(!validateInput('h_tel', '담당자 연락처를 입력해주세요.')) {
         return false;
      }

      // 폼 데이터에 넣을 데이터 화면에서 가져오기
      let h_id = $('#h_id').val();
      let password = $('#password').val();
      let email = $('#email').val();
      let h_name = $('#h_name').val();
      let h_location = $('#h_location').val();
      let h_manager = $('#h_manager').val();
      let h_phone = $('#h_phone').val();
      let h_tel = $('#h_tel').val();
      let h_fax = $('#h_fax').val();

      let userInfoData = new FormData();
      userInfoData.append('h_id', h_id);
      userInfoData.append('password', password);
      userInfoData.append('email', email);
      userInfoData.append('h_name', h_name);
      userInfoData.append('h_location', h_location);
      userInfoData.append('h_manager', h_manager);
      userInfoData.append('h_phone', h_phone);
      userInfoData.append('h_tel', h_tel);
      userInfoData.append('h_fax', h_fax);

      $.ajax({
         url:"/update_proc",
         type:"post",
         data:userInfoData,
         processData : false,
         contentType : false,
         success: function (result) {
            if(result == 1) {
               alert(`정상적으로 변경되었습니다.\n다시 로그인해주세요.`);
               logout(true);
            } else {
               alert('사용자 정보 변경이 실패하였습니다.\n관리자에게 문의하세요.');
            }
         },
      });

   };

   // 비밀번호 정합성 체크
   function checkPasswordValidity(password) {
      // 정규표현식을 사용하여 비밀번호의 조건을 체크합니다.
      // (?=.*[a-zA-Z]) - 최소한 하나의 영문(대소문자)이 포함되어야 함
      // (?=.*\d) - 최소한 하나의 숫자가 포함되어야 함
      // (?=.*[!@#$%^&*()\-_=+{};:,<.>]) - 최소한 하나의 특수기호가 포함되어야 함
      // .{8,16} - 8~16자리여야 함
      const passwordPattern = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*()\-_=+{};:,<.>]).{8,16}$/;

      // 정규표현식과 비밀번호를 비교하여 맞으면 true, 틀리면 false를 반환합니다.
      return passwordPattern.test(password);
   }

   // 연락처 자동 하이픈
   const phoneAutoHyphen = (target) => {
      target.value = target.value.replace(/[^0-9]/g, '').replace(/^(\d{2,3})(\d{3,4})(\d{4})$/, `$1-$2-$3`);
   }

</script>
<body>
   <div id="wrap">
      <aside id="aside">
         <h1 class="logo">
            <a href="/">
               <img src="/img/common/logo.png" alt="한국한의학연구원">
            </a>
         </h1>
         <ul class="">
            <li class="depth1">
               <a href="#" class="depth1_title on active">사용자관리</a>
               <ul class="depth2_wrap">
                  <th:block th:if="${role_cd} == '999'">
                     <li class="depth2">
                        <a href="/" class="depth2_title active">병원 관리</a>
                     </li>
                  </th:block>
                  <li class="depth2">
                     <a href="/user/patient" class="depth2_title">환자 관리</a>
                  </li>
               </ul>
            </li>
            <li class="depth1">
               <a href="/data/manage" class="depth1_title">데이터관리</a>
            </li>
<!--            <li class="depth1">-->
<!--               <a href="/monitoring/log" class="depth1_title">모니터링</a>-->
<!--            </li>-->
         </ul>
         <button class="siteMap-btn">
            <span class="siteMap-top"></span>
            <span class="siteMap-mid"></span>
            <span class="siteMap-bt"></span>
         </button>
      </aside>
      <div id="content_body">
         <header id="header">
            <div class="container">
               <div class="clear-fix">
                  <h3 class="page_title">
                     회원 리스트
                  </h3>
                  <div class="controller">
                     <div class="log_menu before">
                        <p>
                           <a href="/myData" id="user_name"><span th:text="${user_id}" /></a>님 안녕하세요.
                        </p>
                        <button type="button" onclick="logout();">로그아웃</button>
                     </div>
                  </div>
               </div>
            </div>
         </header>
         <main id="main">
            <div class="container">
               <section>
                  <article>
                     <div class="subContainer">
                        <div class="sub_content_section">
                           <div class="board_info">
                              <h5 class="board_info_title">병원 계정 수정</h5>
                              <form name="account_proc" id="account_proc">
                                 <table class="custom_table">
                                    <colgroup>
                                       <col class="w15">
                                       <col class=""> 
                                    </colgroup>
                                    <tbody>
                                       <tr>
                                          <th scope="row">
                                             <label for="h_id">아이디</label><span>*</span>
                                             <input type="hidden" name="idCheckYn" id="idCheckYn" value="Y">
                                          </th>
                                          <td>
                                            <input type="text" id="h_id" name="h_id" class="input_w200" th:value="${user_info.H_ID}" placeholder="아이디" disabled="disabled">
                                            <button class="idCheck" type="button" onclick="userIdCheck();" disabled="disabled">중복확인</button>
                                          </td>
                                       </tr>
                                       <tr>
                                          <th scope="row">
                                             <label for="email">이메일</label><span>*</span>
                                          </th>
                                          <td>
                                             <div class="input_wrap col3 justify_start">
                                                <input type="text" class="input_full" name="email" id="email" th:value="${user_info.EMAIL}" maxlength="50" placeholder="이메일">
                                             </div>
                                          </td>
                                       </tr>
                                       <tr>
                                          <th scope="row">
                                            비밀번호
                                          </th>
                                          <td>
                                             <input type="password" id="password" name="password" class="input_full" placeholder="비밀번호">
                                          </td>
                                       </tr>
                                       <tr>
                                          <th scope="row">
                                             <label for="h_name">병원명</label><span>*</span>
                                          </th>
                                          <td>
                                             <input type="text" id="h_name" name="h_name" th:value="${user_info.H_NAME}" class="input_full" placeholder="병원명">
                                          </td>
                                       </tr>
                                       <tr>
                                          <th scope="row">병원 위치<span>*</span></th>
                                          <td>
                                             <input type="text" id="h_location" name="h_location" th:value="${user_info.H_LOCATION}" class="input_full" placeholder="주소">
                                          </td>
                                       </tr>
                                       <tr>
                                          <th scope="row">
                                             <label for="h_manager">담당자</label>
                                          </th>
                                          <td>
                                             <input type="text" id="h_manager" name="h_manager" class="input_full" th:value="${user_info.H_MANAGER}" placeholder="이름">
                                          </td>
                                       </tr>
                                       <tr>
                                          <th scope="row">
                                             <label for="h_phone">담당자 연락처</label><span>*</span>
                                          </th>
                                          <td>
                                             <input type="text" class="input_full" name="h_phone" id="h_phone" th:value="${user_info.H_PHONE}" maxlength="13" oninput="phoneAutoHyphen(this)" placeholder="휴대전화번호">
                                          </td>
                                       </tr>

                                       <tr>
                                          <th scope="row">
                                             <label for="h_tel">병원 연락처</label><span>*</span>
                                          </th>
                                          <td>
                                             <input type="text" class="input_full" name="h_tel" id="h_tel" th:value="${user_info.H_TEL}" maxlength="13" onchange="phoneAutoHyphen(this)" placeholder="전화번호">
                                          </td>
                                       </tr>
                                       <tr>
                                          <th scope="row">
                                             <label for="h_fax">팩스 번호</label>
                                          </th>
                                          <td>
                                             <input type="text" class="input_full" name="h_fax" id="h_fax" th:value="${user_info.H_FAX}" maxlength="13" onchange="phoneAutoHyphen(this)" placeholder="전화번호">
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                                 <div class="btn_wrap justify_end margin_top40">
                                    <button class="btn style06 xlarge" type="button" onclick="history_back();">취소</button>
                                    <button class="btn style01 xlarge" type="button" onclick="signUp();">수정</button>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </article>
               </section>
            </div>
         </main>
      </div>
   </div>
</body>
</html>