<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
<!--		<typeAlias type="com.codex.config.vo.ExternalFiles" alias="ExternalFiles" />-->
<!--		<typeAlias type="com.codex.dto.UserDTO" alias="User"/>-->
<!--		<typeAlias type="com.codex.dto.AdminNoticeArticle" alias="AdminNoticeArticle"/>-->
		
	</typeAliases>
</configuration>
