<!DOCTYPE html>
<html lang="ko">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1, maximum-scale=1, shrink-to-fit=no">
   <title>한국한의학연구원</title>
   <meta name="description" content=""> 
   <meta name="keywords" content="">
   <!-- favicon -->
   <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
   <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
   <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
   <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
   <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
   <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
   <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
   <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
   <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
   <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-icon-192x192.png">
   <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
   <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
   <link rel="manifest" href="/img/favicon/manifest.json">
   <meta name="msapplication-TileColor" content="#ffffff">
   <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
   <meta name="theme-color" content="#ffffff">
   <!-- css -->
   <link rel="stylesheet" href="/css/login_mixin.css">
   <!-- icon font -->
   <link rel="stylesheet" href="/css/iconFont/XEIcon-2.2.0/xeicon.min.css">
   <!-- plugIn -->
   <script src="/js/libs/jquery/jquery-3.2.1.min.js"></script>
   <!-- slick slide -->
   <link rel="stylesheet" href="/js/libs/slick-1.8.1/slick/slick.css">
   <script src="/js/libs/slick-1.8.1/slick/slick.min.js"></script>
   <script src="/js/libs/chart.js/Chart3.7.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
   <!-- js -->
   <script src="/js/layout.js"></script>
   <script src="/js/util.js"></script>
</head>
<script th:inline="javascript">

   // 로그인정보 입력 체크
   function validChk(e) {

      if(!e.username.value || !e.password.value) {
         alert('로그인 정보를 입력해주세요.');
         return false;
      }
      return true;
   };

</script>
<body>
   <div id="wrap">
      <header id="header">
         <div class="container">
            <h1 class="logo">
               <a href="/login">
                  <img src="/img/common/logo.png" alt="한국한의학연구원">
               </a>
            </h1>
         </div>
      </header>
      <div id="content_body">
         <main id="main">
            <div class="container">
               <section class="login_section">
                  <h3>로그인</h3>
                  <form action="/doLogin" method="post" onsubmit="validChk(this);">
                     <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
                     <div>
                        <input type="text" class="input_h56 input_full" id="username" name="username" placeholder="아이디" value="" autocomplete="off">
                     </div>
                     <div>
                        <input type="password" class="input_h56 input_full" id="password" name="password" placeholder="비밀번호" value="" autocomplete="off">
                     </div>
                     <div class="btn_wrap">
                        <button class="btn xlarge style01">로그인</button>
                     </div>
                  </form>
               </section>
            </div>
         </main>
      </div>
   </div>
</body>
</html>