<!DOCTYPE html>
<html lang="ko">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1, maximum-scale=1, shrink-to-fit=no">
   <title>한국한의학연구원</title>
   <meta name="description" content="">
   <meta name="keywords" content="">
   <!-- favicon -->
   <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
   <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
   <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
   <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
   <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
   <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
   <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
   <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
   <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
   <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-icon-192x192.png">
   <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
   <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
   <link rel="manifest" href="/img/favicon/manifest.json">
   <meta name="msapplication-TileColor" content="#ffffff">
   <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
   <meta name="theme-color" content="#ffffff">
   <!-- css -->
   <link rel="stylesheet" href="/css/mixin.css">
   <!-- icon font -->
   <link rel="stylesheet" href="/css/iconFont/XEIcon-2.2.0/xeicon.min.css">
   <!-- plugIn -->
   <script src="/js/libs/jquery/jquery-3.2.1.min.js"></script>
   <script src="/js/libs/jquery-ui/jquery-ui.min.js"></script>
   <!-- slick slide -->
   <link rel="stylesheet" href="/js/libs/slick-1.8.1/slick/slick.css">
   <script src="/js/libs/slick-1.8.1/slick/slick.min.js"></script>
   <script src="/js/libs/chart.js/Chart3.7.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
   <!-- js -->
   <script src="/js/layout.js"></script>
   <script src="/js/util.js"></script>
</head>
<script th:inline="javascript">

   // 로그아웃
   async function logout(type){
      if(!type) {
         if(!confirm("로그아웃 하시겠습니까?")) return;
      }
      await fetch('/logout', {
         method:'post',
      })
              .then(()=>{location.replace('/login')})
              .catch(e=>console.log(e));
   };

</script>
<body>
   <div id="wrap">
      <aside id="aside">
         <h1 class="logo">
            <a href="/">
               <img src="/img/common/logo.png" alt="한국한의학연구원">
            </a>
         </h1>
         <ul class="">
            <li class="depth1">
               <a href="#" class="depth1_title">사용자관리</a>
               <ul class="depth2_wrap">
                  <th:block th:if="${role_cd} == '999'">
                     <li class="depth2">
                        <a href="/" class="depth2_title">병원 관리</a>
                     </li>
                  </th:block>
                  <li class="depth2">
                     <a href="/user/patient" class="depth2_title">환자 관리</a>
                  </li>
               </ul>
            </li>
            <li class="depth1">
               <a href="/data/manage" class="depth1_title active">데이터관리</a>
            </li>
<!--            <li class="depth1">-->
<!--               <a href="/monitoring/log" class="depth1_title">모니터링</a>-->
<!--            </li>-->
         </ul>
         <button class="siteMap-btn">
            <span class="siteMap-top"></span>
            <span class="siteMap-mid"></span>
            <span class="siteMap-bt"></span>
         </button>
      </aside>
      <div id="content_body">
         <header id="header">
            <div class="container">
               <div class="clear-fix">
                  <h3 class="page_title">데이터관리</h3>
                  <div class="controller">
                     <div class="log_menu before">
                        <p>
                           <a href="/myData" id="user_name"><span th:text="${h_name}" /></a>님 안녕하세요.
                        </p>
                        <button type="button" onclick="logout();">로그아웃</button>
                     </div>
                  </div>
               </div>
            </div>
         </header>
         <main id="main">
            <div class="container">
               <section>
                  <article>
                     <div class="subContainer">
                        <div class="sub_content_section">
                           <form action="">
                              <section class="search_form_section">
                                 <div class="article_row type02">
                                    <article class="article_col">
                                       <b class="article_title">병원 선택</b>
                                       <div class="article_content">
                                          <span class="custom_select_box input_w300">
                                             <select name="" id="">
                                                <option value="" selected disabled>지역선택</option>
                                                <option value="">option1</option>
                                                <option value="">option2</option>
                                                <option value="">option3</option>
                                             </select>
                                          </span>
                                          <span class="input_wrap">
                                             <input type="text" class="input_w300" name="" placeholder="">
                                          </span>
                                       </div>
                                    </article>
                                 </div>
                                 <div class="article_row type02">
                                    <article class="article_col">
                                       <b class="article_title">맥진 데이터 선택</b>
                                       <div class="article_content">
                                          <span class="custom_select_box input_w300">
                                             <select name="" id="">
                                                <option value="" selected disabled>지역선택</option>
                                                <option value="">option1</option>
                                                <option value="">option2</option>
                                                <option value="">option3</option>
                                             </select>
                                          </span>
                                       </div>
                                    </article>
                                    <article class="article_col flex_full">
                                       <b class="article_title">조회기간 선택</b>
                                       <div class="article_content flex_full space_between">
                                          <span class="date">
                                             <input type="text" class="datepicker searchDateFrom" id="searchDateFrom" maxlength="8" autocomplete="off">
                                             ~
                                             <input type="text" class="datepicker searchDateTo" id="searchDateTo" maxlength="8" readonly="readonly" autocomplete="off" >
                                          </span>
                                          <button class="btn style01 large input_w120" type="button">검색</button>
                                       </div>
                                    </article>
                                 </div>
                              </section>
                           </form>
                        </div>
                     </div>
                  </article>
                  <article>
                     <div class="subContainer">
                        <div class="sub_content_section">
                           <canvas id="canvas01" style="height:60rem;"></canvas>
                        </div>
                     </div>
                  </article>
               </section>
            </div>
         </main>
      </div>
   </div>
   <script>
      var ctx01 = document.getElementById("canvas01").getContext('2d');

      var myChart01 = new Chart(ctx01, {
         type: 'line',
         plugins: [ChartDataLabels],
         data: {
            labels: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            datasets: [{
               label: '',
               data: [0,30,20,10,40,30,10,10,30,10,20,10],
               borderColor: '#B2CEEE',
               borderWidth: 4,
               pointStrokeColor : "#333",
               pointBackgroundColor:'#326AF3',
               pointBackgroundColor: 'transparent',
               pointBorderColor: '#326AF3',
               pointBorderWidth: 8,
               pointHoverBorderColor: '#326AF3',
               pointHoverBorderWidth: 8,
               lineTension: 0,
            }]
         },
         options: {
            layout: {
               padding: {
                  top:40,
               } 
            },
            plugins: {
               legend: {
                  display: false,
                  labels: {
                     color: '#707F9C',
                     boxWidth: 20,
                     boxHeight: 1,
                     font: {
                        size: 16,
                     }
                  }
               },
               tooltip: { // 기존 툴팁 사용 안 함
                  enabled: false
               },
               animation: { // 차트 애니메이션 사용 안 함 (옵션)
                  duration: 0,
               },
               datalabels: { // datalables 플러그인 세팅
                  align: 'top', // 도넛 차트에서 툴팁이 잘리는 경우 사용
                  offset:10,
                  clamp: true,
                  font: {
                     size:'15px',
                     weight: '500',
                  },
                  borderRadius: 100,
                  backgroundColor: 'rgba(2, 52, 107, 0.3)',
                  padding: {
                     top: 2,
                     right: 10,
                     bottom: 2,
                     left: 10,
                  },
                  color: '#fff'
               },
            },
            scales: {
               x: {
                  display: true,
                  ticks: {
                     color: '#707F9C',
                     font: {
                        size: 15
                     },
                     display: true,
                  },
                  grid: {
                     borderColor:'#D8E0EE',
                     lineWidth: 0,
                  },
               },
               y: {
                  max:100,
                  display: true,
                  ticks: {
                     color: '#707F9C',
                     font: {
                        size: 15
                     },
                     display: true,
                  },
                  grid: {
                     borderColor:'#fff',
                  }
               }
            },
         }
      });
   </script>
</body>
</html>